@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --light_sky_blue: #90C2E7;
    --air_force_blue: #4E8098;
    --light_sea_green: #00A9A5;
    --dark_state_gray: #0B5351;
    --gunmetal: #092327;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px
}

/* Navbar */
nav {
    display: flex;
    justify-content: flex-end;
    border-bottom: 3px solid var(--dark_state_gray);
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-right: 50px;
}

nav ul li {
    padding: 10px;
}

nav ul li:hover {
    background-color: var(--light_sea_green);
    border-radius: 10%;
    color: #ffffff;
}

a {
    font-weight: 500;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

/* Sidebar */
#sidebar {
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}

#sidebar ul {
    background-color: var(--dark_state_gray);
    padding: 15px;
    border-radius: 120px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

i {
    padding: 5px;
    font-size: 25px;
    color: #ffffff;
}

i:hover {
    border-radius: 50%;
    background-color: #ffffff;
    color: var(--gunmetal);
}

/* Hero */
#hero {
    width: 100%;
    background: linear-gradient(90deg, white 67%, var(--light_sea_green) 33%);
    border-radius: 50%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 150px;
    margin-top: 50px;
    margin-bottom: 0;
}

h1 span:first-child {
    padding-left: 50px;
}

h1 span:nth-last-child(1) {
    padding-left: 190px;
}

h1 span:first-child:after {
    content: "\a";
    white-space: pre;
}

#hero p {
    font-size: 25px;
    padding-left: 75px;
}

.border {
    width: 100%;
    border-bottom: 5px double var(--dark_state_gray);
}

/* About Me */
#about_me {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_sm_container {
    align-self: flex-start;
    padding: 100px 200px;
    border-radius: 50px;
    box-shadow: 5px 5px 0 #cacbce, -5px -5px 0 #fff;
    background: #ebecf0;
}

#code_picture {
    content: url(/src/assets/programmer-vector.png);
    align-self: center;
    height: 200px;
    width: 200px;
}

.align_right {
    align-self: flex-end;
    margin-bottom: 5%;
}

#tech_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tech_ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

#tech_ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 55px;
    border-radius: 10px;
    background-color: #ebecf0;
}

#tech_ul li p {
    font-weight: 600;
    padding-left: 10px;
}